html {
  padding: 0;
  margin: 0;
}
/* 
body {
  padding: 0;
  margin: 0;
} */


@font-face {
  font-family: "Open Sans";
  src: url("../public/assets/fonts/OpenSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Jacques";
  src: url("../public/assets/fonts/JacquesFrancois-Regular.ttf")
    format("truetype");
}
