.aboutUsStoryAndMissionSections {
  margin-top: 50px;
  margin-bottom: 50px;
}
.aboutUsPageImages {
  height: 460px;
  width: 480px;
}
@media screen and (max-width: 500px) {
  .aboutUsStoryAndMissionSections {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 30px;
  }
  .aboutUsPageImages {
    height: 320px;
    width: 350px;
  }
}
