.menuDishImgContainer {
  width: 200px;
  height: 150px;
}

@media screen and (max-width: 500px) {
  .menupageMenuContainer {
    flex-direction: column;
  }
  .menuDishContainer {
    flex-direction: column;
    /* background-image: url("../../public/assets/images/french_floral_background.jpg") !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-size: cover !important; */
  }
  .menuDishImgContainer {
    width: 290px;
    height: 270px;
  }
}
