.serviceInfoGridContainer {
  grid-template-columns: repeat(2, 1fr);
}

.servicePoliciesGridContainer {
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: 1000px) {
  .reservationProcessSectionContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .formFieldsContainer {
    flex-direction: column;
  }
  .serviceInfoGridContainer {
    grid-template-columns: repeat(1, 1fr);
  }

  .servicePoliciesGridContainer {
    grid-template-columns: repeat(1, 1fr);
  }
}
